:root {
  --primary-color: #252525;
  --secondary-color: #fff;
  --link-hover: #6930c3;
  --head-font: "Philosopher", sans-serif;
  --body-font: "Fira Sans", sans-serif;
}

body {
  margin: 11px;
  padding: 11px;
  text-align: center;
  font-family: var(--body-font);
  border: 7px solid #252525;
  color: var(--primary-color);
}

h1 {
  font-weight: bold;
  font-size: 91px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: var(--head-font);
}

.navbar-brand {
  font-family: var(--head-font);
  font-weight: bold;
}

.btn {
  margin: 25px;
  padding: 11px;
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.btn:hover {
  padding: 12px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.my-description {
  margin-top: -30px;
}

.dictionary-homepage {
  margin-top: 100px;
}

.icons {
  margin-top: 100px;
  font-size: 32px;
}

.footer {
  font-size: 10px;
  margin-top: 25px;
}

.social {
  text-decoration: none;
}

.credit-links,
.social {
  color: var(--primary-color);
}

.credit-links:hover,
.social:hover,
.manager-link,
.manager-link:hover,
.shecodes-link,
.shecodes-link:hover,
.email,
.email:hover,
.instagram,
.instagram:hover,
.github,
.github:hover,
.linkedin,
.linkedin:hover {
  color: var(--link-hover);
}

.manager-link:hover,
.shecodes-link:hover,
.email:hover,
.instagram:hover,
.github:hover,
.linkedin:hover {
  opacity: 0.7;
}

.about-paragraph {
  font-size: 18px;
  padding: 20px;
}

.about-list {
  font-size: 23px;
  margin-top: 20px;
  list-style: none;
}

.code-icons {
  margin-top: 30px;
  font-size: 100px;
}

.code-icons-secondary {
  margin-top: 25px;
  font-size: 70px;
}

.shecodes-container {
  max-width: 80%;
}

.contact,
.shecodes {
  margin-top: 80px;
  margin-bottom: 20px;
}

.contact-list {
  margin-top: -40px;
  margin-bottom: -65px;
}

.react-weather,
.vanilla-weather {
  margin-top: 5px;
  margin-bottom: 20px;
}

.react-dictionary {
  margin-bottom: 20px;
}

.work-titles {
  font-weight: bold;
}

.work-paragraph {
  padding: 0 15px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 54px;
  }

  h2,
  h3 {
    font-size: 25px;
  }

  .beans {
    margin-top: -30px;
  }

  .icons {
    margin-top: 0;
  }

  .shecodes-container {
    max-width: 75%;
    margin-top: 35px;
  }

  .shecodes {
    margin-top: 25px;
  }

  .contact-list {
    margin-top: -30px;
    margin-bottom: 75px;
  }
}

@media (max-width: 992px) {
  .about-list {
    display: none;
  }
}

@media (max-width: 1200px) {
  .code-icons {
    display: none;
  }
}

@media (max-width: 1400px) {
  .code-icons {
    font-size: 80px;
  }
}
