:root {
    --primary-color: #252525;
    --secondary-color: #FFF;
}

body {
    margin: 11px;
    padding: 11px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    border: 7px solid #252525;
    color: var(--primary-color);
    
}

h1 {
    font-weight: bold;
    font-size: 96px;
}

h2{
    margin-bottom: 0;
}

.btn {
    margin: 25px;
    padding: 13px;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.btn:hover {
    padding: 14px;
    transition: ease-in-out;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.dictionary-homepage{
    margin-top: 100px;
}

.other-projects {
     margin-top: 150px;   
 }

.icons {
    margin-top: 100px;
    font-size: 32px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 56px;
    }
    p {
        font-size: 15px;
        margin-bottom: -11px;
    }
    h3 {
        font-size: 20px;
    }
    .icons {
       margin-top: 0;
    }
}